<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/long.js"></script>
<script src="/javascripts/control.js"></script>

<div class="container">
  <div class="navbar-header pull-right">
      <p class="navbar-text">
        <a href="#" class="navbar-link" id="logout">Logout</a>&nbsp;
      </p>
    </div>
  <div class="jumbotron">
    <h1>ClusterManager</h1>
  </div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#profile" role="tab" data-toggle="tab">Server Logs</a></li>
    <li role="presentation"><a href="#status" role="tab" data-toggle="tab">Cluster Status</a></li>
    <li role="presentation"><a href="#settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <div id="clusterConfiguration">
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <!-- Cluster Configuration -->
              <h2> Cluster Configuration </h2>
              <label>Coordinator Server</label>
              <select class="inputServerId" id="cooordinatorServerId" onchange="onCoordinatorServerIdSelected()">
              </select>
              <label>Coordinator Status:<label><div id="coordinatorStatus">Unknown</div>
              <br>

              <label>Type of Transport </label>
              <select id="inputTransport">
                <option value="infrc">infrc</option>
                <option value="fastudp">fast+udp (n/a)</option>
              </select>
              <br>
              <label>Cluster Name</label>
              <input type="text" class="form-control" id="inputClusterName" value="__unamed__">
              <label>Coordinator Port Number</label>
              <input type="number" class="form-control" id="inputCoordinatorPort" value="12246">
              <label>Client Port Number</label>
              <input type="number" class="form-control" id="inputClientPort" value="12242">
              <br>
              <label>ZooKeeper Locator</label>
              <input type="text" class="form-control" id="inputZk" value="">
              <label>Additional Args</label>
              <input type="text" class="form-control" id="inputAdditionalCoordinatorArgs" value="">
              <br>
              <button type="button" class="btn btn-primary btn-lg" id="startCoordinator">Start Coordinator</button>
              <button type="button" class="btn btn-danger btn-lg" id="killCoordinator">Kill Coordinator</button>
            </div>
            <div class="col-md-3">
              <!-- Master Configuration -->
              <h2> Configuration for Servers</h2>
              <br>
              <label>Serverid Range</label>
              <select class="inputServerId" id="masterServerIdBeg">serverId</select> to
              <select class="inputServerId" id="masterServerIdEnd">serverId</select><br>
              <input id="masterServiceChecked" type="checkbox" name="master" checked>Master Service<br>
              <input id="backupServiceChecked" type="checkbox" name="backup" checked>Backup Service<br>
              <label>Replicas</label>  <input id="inputReplicas" type="number" value="3" min="0">
              <br>
              <br>
              <label>Additional Args</label>
              <input type="text" class="form-control" id="inputAdditionalServerArgs" value="">
              <br>
              <br>
              <button type="button" class="btn btn-primary" id="startMasters">Start Masters</button>
              <button type="button" class="btn btn-danger" id="killMasters">Kill Masters</button>
            </div>
            <div class="col-md-5">
                <h1>Events Log</h1>
                <div data-spy="scroll" data-target="#navbar-example2" data-offset="0" class="scrollspy-example"></div>
                <pre id="eventsLog" class="pre-scrollable"></pre>
                <button id="clearEventsLog" type="button" class="btn btn-default">Clear Log</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-5">

            </div>
          </div>
        </div>


        {{!-- Cluster Visualization Table --}}
        <div id="clusterVisualization">
          <table class="table table-striped" data-toggle="table" data-sort-name="ip" data-sort-order="desc">
            <thead>
              <tr>
                  <th id="table_ip" data-field="ip" data-align="left" data-sortable="true">IP Address</th>
                  <th id="table_serverid" data-field="serverid" data-align="left" data-sortable="true">Server ID</th>
                  <th id="table_status" data-field="status" data-sortable="true">Status</th>
                  <th id="table_replicationGroup" data-field="replicationGroup" data-sortable="true">Replication Group</th>
                  <th id="table_tablets" data-field="tablets" data-align="right" data-sortable="true">Tablets</th>
                  <th id="table_controls" data-align="right">Controls</th>
              </tr>
          </thead>
          <tbody id="serverList" >
          </tbody>
          </table>
        </div>

        {{!-- Client Options --}}
        <div>
          <div class="row">
            <div class="col-md-3">
              <h2>Table Options</h2>
              <label>Table Name</label> <input type="text" id="inputTableName" value="YoYoYo">
              <label>Server Span</label> <input type="number" id="inputServerSpan"  value="1">
              <button type="button" id="buttonCreateTable" class="btn btn-default">Create</button>
              <button type="button" id="buttonDropTable" class="btn btn-default">Drop</button>
              <br>
              <br>
              <label>Split Hash</label> <input type="text" id="inputSplitHash" value="0xFFFFFFFF80000000">
              <button type="button" id="buttonSplitHash" class="btn btn-default">Split</button>
            </div>
            <div class="col-md-3" hidden>
              <h2> Content </h2>
              <button type="button" class="btn btn-default">Write</button>
              <button type="button" class="btn btn-default">Read</button>
              <button type="button" class="btn btn-default">Remove</button>
              <button type="button" class="btn btn-default">Increment</button>
              <button type="button" class="btn btn-default">testingFill</button>
            </div>
            <div class="col-md-3" hidden>
              <h3>Command Queue</h3>
              <pre id="commandQueue"></pre>
            </div>
            <div class="col-md-3">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
      <div class="container">
        <h1>Coordinator Log</h1>
        <button id="clearLog" type="button" class="btn btn-default">Clear Log</button>
        <div data-spy="scroll" data-target="#navbar-example2" data-offset="0" class="scrollspy-example">
          <pre id="log" class="pre-scrollable"></pre>
        </div>
        <h1> Server Logs</h1>
        <div class="accordion" id="serverLogArea">
        </div>
      </div>
    </div>

    {{!-- Cluster Status Tab --}}
    <div role="tabpanel" class="tab-pane" id="status">
      <p> Here, you can poll the status of the cluster in terms of what's running (MasterService/Coordinator) and which servers are allocated </p>
      <label>Servers to monitor</label>
          <select class="inputServerId" id="masterPollIdBeg">serverId</select> to
          <select class="inputServerId" id="masterPollIdEnd">serverId</select>
          <button type="button" class="btn btn-primary" data-loading-text="Polling..." id="pollCluster">Poll</button>
      <br>
      <div id="clusterStatusTable">
          <table class="table table-striped" data-toggle="table" data-sort-name="ip" data-sort-order="desc">
            <thead>
              <tr>
                  <th data-field="ip" data-align="left" data-sortable="true">Hostname</th>
                  <th data-field="status" data-sortable="true">Status</th>
                  <th data-field="replicationGroup" data-sortable="true">Services</th>
                  <th data-field="tablets" data-align="right" data-sortable="true">User</th>
                  <th data-align="right">rcres Info</th>
              </tr>
          </thead>
          <tbody id="statusList" >
          </tbody>
          </table>
        </div>
    </div>

    {{!-- Settings Tab --}}
    <div role="tabpanel" class="tab-pane" id="settings">
  </div>

</div>

   {{!--  <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#coordinatorConfigurations">
      Add a coordinator
    </button> --}}

    <!-- Modal for sign in -->
    <div class="modal fade" id="coordinatorConfigurations" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            {{!-- <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button> --}}
            <h1 class="modal-title" id="myModalLabel">Initial Setup</h1>
          </div>
          <div class="modal-body">
            <form role="form">
              <p>Could not find user-specific credentials or configuration has errors. Please specify below:</p>
              {{!-- Username and password --}}
              <div class="form-group">
                <label for="inputUsername">Username</label> (on rcmaster)
                <input type="username" class="form-control" id="inputUsername" placeholder="Enter username">
              </div>
              <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                <small>Note: This is the password contained in ~/PASSWD.txt when your account was first created on rcmaster. It is needed to ssh into the rcXX machines.</small>
              </div>


              <div class="form-group">
                <label for="inputRAMCloudBinDir">RamCloud bin directory</label>
                <input type="text" class="form-control" id="inputRAMCloudBinDir" value="" placeholder="(ex: /home/syang0/ramcloud/obj.master/)">
              </div>
            </form>
              <div class="alert alert-danger" id="configErrors" role="alert"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-loading-text="Verifying..." id="saveInitialConfigs">Verify and save</button>

          </div>
        </div>
      </div>
    </div>

    <!-- Modal for disconnect-->
    <div class="modal fade" id="disconnectEvent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            {{!-- <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button> --}}
            <h1 class="modal-title" id="reconnectAtempt"> Connection Lost </h1>
          </div>
          <div class="modal-body">
            <p>
              At some point, the browser lost connection with the server on rcmaster. If this is expected (because you lost wifi access or your computer went to sleep), then everything is okay. Your cluster is lost, but can click the "Okay" button and copy out what's important (i.e. logs) then refresh the page and start a new. Note you will have to kill off your previous cluster though.
              <br>
              <br>
              <strong>IF</strong>, however, you see this message right after running a command or clicking a button, it is VERY likely that the server just crashed. In this case, please contact your local cluster custodian.
              <br>
            </p>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-loading-text="Reconnecting..." data-dismiss="modal" id="reconnectOkay">Okay</button>

          </div>
        </div>
      </div>
    </div>
    <div id="Coordinator List">
      <!--
      <label> Coordinator Log</label>
      <pre id="log" class="pre-scrollable"></pre>
      <button id="clearLog" type="button" class="btn btn-default">Clear Log</button>
      <button id="killCoordinator"
      -->
    </div>



</div>