<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/control.js"></script>

<h1>Example App: Home</h1>

<button id="start" type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-play"></span> Start
</button>

<button id="checkStatus" type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-play"></span> Status
</button>

<pre id="log" class="pre-scrollable">Log File here:</pre>